@import "../../assets/scss/colors";
@import "../../assets/scss/mixins";
@import "./mobile/index.scss";

.header {
  padding: 12px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  transition: background-color 300ms linear;
  &.header_motion {
    background: rgba($black2, 0.7);
  }
  .logo {
    img {
      height: 48px;
    }
  }
  .menues {
    margin-left: 32px;
    div {
      @include font(normal, 500, 16px, 22px, $white);
      text-transform: uppercase;
      &:not(:first-of-type) {
        margin-left: 24px;
      }
    }
  }
  .social-media {
    margin-right: 24px;
    i {
      font-size: 18px;
      color: $white;
      cursor: pointer;
      &:not(:first-of-type) {
        margin-left: 12px;
      }
    }
  }
  .search__block {
    i {
      font-size: 16px;
      color: $white;
    }
    input,
    label {
      color: $white;
    }
    .v-input {
      padding-top: 0;
      .v-input__control {
        .v-input__slot:before {
          border-color: $white;
          &:hover {
            border-color: $white;
          }
        }
      }
      .v-text-field__details {
        display: none;
      }
    }
  }
}

@include laptop();
@include tablet();
@include mobile768();
@include mobile640();
@include mobile480();
