@import "../../assets/scss/colors";
@import "../../assets/scss/mixins";
@import "./mobile/index.scss";

.main {
  .main__header {
    padding-top: 86px;
    padding-bottom: 64px;
    background: $black2;
    h1 {
    
      @include font(normal, 700, 86px, 96px, $white);
    }
    h2 {
      margin-top: 12px;
      @include font(normal, 600, 48px, 56px, $white);
      span {
        color: $blueLogo;
      }
    }
    .typer {
      .custom.char.typed {
        color: $white;
      }
    }
  }
  .podkasts {
    padding: 64px 0;
    .podkasts__slider {
      .text {
        .title {
        }
        .sub__block {
          display: flex;
          justify-content: space-between;
          .sub__title {
          }
          .link__all {
            display: flex;
            align-items: center;
            i {
              font-size: 12px;
            }
          }
        }
      }
      .carousel {
        margin-top: 32px;
        .inner__slider {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 24px;
        }
      }
    }
  }
}

@include laptop();
@include tablet();
@include mobile768();
@include mobile640();
@include mobile480();
