@import "../../assets/scss/colors";
@import "../../assets/scss/mixins";
@import "./mobile/index.scss";

.cookie__notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: rgba($blueLogo, 1);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    .text {
        color: $white
    }
}