@import "../../assets/scss/colors";
@import "../../assets/scss/mixins";
@import "./mobile/index.scss";

.faq {
  .faq__header {
    padding-top: 83px;
    padding-bottom: 120px;
    background: $black2;
    h1 {
      margin-top: 120px;
      @include font(normal, 700, 86px, 96px, $white);
    }
    h2 {
      margin-top: 12px;
      @include font(normal, 600, 48px, 56px, $white);
      span {
        color: $blueLogo;
      }
    }
  }
  .questions {
    padding: 56px 0;
    .questions__title {
      @include font(normal, 700, 36px, 38px, $black);
    }
    .questions__text {
      margin-top: 16px;
      margin-bottom: 24px;
      @include font(normal, 500, 18px, 24px, $black);
    }
    .list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      .md-list {
        width: 100%;
        padding: 0;
        .md-list-item-text {
            font-weight: 700;
        }
        .md-list-item.md-inset .md-list-item-content {
          padding-left: 24px;
        }
      }
    }
  }
}

@include laptop();
@include tablet();
@include mobile768();
@include mobile640();
@include mobile480();
